.blue-btn {
  border-radius: 38px;
  background-image: -ms-linear-gradient(66deg, #21acdd 0%, #9ddae9 100%);
  box-shadow: 0px 21px 23.52px 0.48px rgba(95, 206, 244, 0.29);
  position: absolute;
  left: 1330px;
  top: 5744px;
  width: 227px;
  height: 77px;
  z-index: 42; }

/*----TO USE-----
Media Query Mixins

@include atiphone6 {
  
}

@include at576 {

}
@include at768 {

}
@include at992 {

}
@include at1200 {

}
*/
/* Start custom font */
@font-face {
  font-family: "fivo-sans.regular";
  src: url("font/fivo-sans.regular.eot");
  src: url("font/fivo-sans.regular.eot?#iefix") format("embedded-opentype"), url("font/fivo-sans.regular.woff") format("woff"), url("font/fivo-sans.regular.woff2") format("woff2"), url("font/fivo-sans.regular.ttf") format("truetype"), url("font/fivo-sans.regular.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "fivo-sans.light";
  src: url("font/fivo-sans.light.eot");
  src: url("font/fivo-sans.light.eot?#iefix") format("embedded-opentype"), url("font/fivo-sans.light.woff") format("woff"), url("font/fivo-sans.light.woff2") format("woff2"), url("font/fivo-sans.light.ttf") format("truetype"), url("font/fivo-sans.light.svg#pt_sansregular") format("svg");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: "fivo-sans.bold";
  src: url("font/fivo-sans.bold.eot");
  src: url("font/fivo-sans.bold.eot?#iefix") format("embedded-opentype"), url("font/fivo-sans.bold.woff") format("woff"), url("font/fivo-sans.bold.woff2") format("woff2"), url("font/fivo-sans.bold.ttf") format("truetype"), url("font/fivo-sans.bold.svg#pt_sansregular") format("svg");
  font-weight: bold;
  font-style: normal; }

/* End custom font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

h1 {
  font-family: "fivo-sans.bold";
  font-size: 3rem; }

p {
  font-family: "fivo-sans.light";
  font-size: 1rem;
  color: rgba(28, 32, 86, 0.502);
  line-height: 2em; }

header {
  background: transparent;
  position: fixed;
  height: 15vh;
  width: 100%;
  z-index: 2;
  display: flex;
  z-index: 999; }

.nav-container {
  max-width: 1400px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between; }

.nav-burger {
  width: 20px;
  height: 19px;
  position: absolute;
  top: 40%;
  right: 10px;
  cursor: pointer;
  z-index: 10; }
  .nav-burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #ff6a6d;
    transform-origin: 0 0;
    transition: transform 0.3s ease-out; }
  .nav-burger-bar {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #ff6a6d;
    transition: all 0.3s ease-out;
    transform-origin: 0 50%; }
  .nav-burger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #ff6a6d;
    transform-origin: 0 100%;
    transition: transform 0.3s ease-out; }

.nav-burger-bar-close::before {
  transform: rotate(45deg) scaleX(1.25); }

.nav-burger-bar-close::after {
  transform: rotate(-45deg) scaleX(1.25) translateY(1px); }

.nav-burger-bar-close .nav-burger-bar {
  opacity: 0;
  transform: scaleX(0); }

.nav-logo {
  position: absolute;
  left: 10px;
  width: 10%;
  z-index: 10; }

.nav-links-active {
  transform: translateX(0);
  transition: 0.5s ease-in; }

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 1900px;
  background: rgba(28, 32, 86, 0.802);
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s ease-in; }
  nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 130%; }
  nav li {
    display: flex;
    align-items: center;
    margin: 2em 2em;
    justify-content: center; }
  nav li:last-child {
    display: flex;
    align-items: center; }
  nav a {
    text-decoration: none;
    font-family: "fivo-sans.bold";
    color: #fff;
    transition: all 0.3s ease-in; }
  nav a:hover,
  nav a:focus {
    color: #ff6a6d;
    transition: all 0.3s ease-in; }
  nav .nav-login {
    display: flex; }
    nav .nav-login button {
      cursor: pointer;
      padding: 0.8em 3.5em;
      border-radius: 25px;
      font-family: "fivo-sans.bold";
      color: #fff;
      background-color: #ff6a6d;
      box-shadow: 0px 21px 23.52px 0.48px rgba(226, 88, 91, 0.29);
      transition: all 0.3s ease-in; }
    nav .nav-login button:hover,
    nav .nav-login button:focus {
      background-color: transparent;
      color: #ff6a6d;
      border: 1px solid #ff6a6d;
      transition: all 0.3s ease-in; }

@media (min-width: 576px) {
  .nav-logo {
    position: relative;
    width: 10%;
    z-index: 10; } }

@media (min-width: 768px) {
  .nav-container {
    width: 90%; }
  .nav-burger {
    display: none; }
  .nav-logo {
    position: relative;
    width: 10%;
    z-index: 10; }
  nav {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
    height: auto;
    background: transparent;
    position: relative;
    transform: translateX(0); }
    nav ul {
      display: flex;
      flex-direction: row;
      padding-top: 0; }
    nav li {
      margin: 0 1em; }
    nav li:last-child {
      padding-right: 2.5em; }
    nav a {
      color: rgba(28, 32, 86, 0.502); } }

@media (min-width: 992px) {
  .nav-container {
    width: 90%; }
  .nav-burger {
    display: none; }
  .nav-logo {
    position: relative;
    width: 10%;
    z-index: 10; }
  nav {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
    height: auto;
    background: transparent;
    position: relative;
    transform: translateX(0); }
    nav ul {
      display: flex;
      flex-direction: row;
      padding-top: 0; }
    nav li {
      margin: 0 2em; }
    nav li:last-child {
      padding-right: 3.5em; }
    nav a {
      color: rgba(28, 32, 86, 0.502); } }

@media (min-width: 1200px) {
  .nav-container {
    width: 90%; }
  .nav-burger {
    display: none; }
  .nav-logo {
    position: relative;
    width: 10%;
    z-index: 10; }
  nav {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
    height: auto;
    background: transparent;
    position: relative;
    transform: translateX(0); }
    nav ul {
      display: flex;
      flex-direction: row;
      padding-top: 0; }
    nav li {
      margin: 0 2em; }
    nav li:last-child {
      padding-right: 3.5em; }
    nav a {
      color: rgba(28, 32, 86, 0.502); } }

.hero {
  background-image: url("../img/hero-main-blue.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1312px; }

.hero-a-img {
  position: relative;
  max-width: 1920px; }
  .hero-a-img .hero-a-img-lady {
    position: absolute;
    right: 0;
    z-index: 2; }
    .hero-a-img .hero-a-img-lady img {
      width: 100%; }
  .hero-a-img .hero-a-img-plantr {
    position: absolute;
    right: 0;
    transform: translateY(30%); }
    .hero-a-img .hero-a-img-plantr img {
      width: 100%; }
  .hero-a-img .hero-a-img-plantl {
    position: absolute;
    left: 0;
    transform: translateY(100%); }
    .hero-a-img .hero-a-img-plantl img {
      width: 100%; }

.hero-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: relative; }

.hero-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(50%);
  z-index: 3; }
  .hero-content h1 {
    font-family: "fivo-sans.bold";
    font-size: 3rem; }
  .hero-content p {
    max-width: 500px;
    width: 90%;
    font-family: "fivo-sans.light";
    font-size: 1rem;
    color: #000;
    line-height: 2em;
    margin-top: 2em; }
  .hero-content button {
    cursor: pointer;
    margin-top: 2em;
    margin-right: 2em;
    border-radius: 38px;
    background-color: #ff6a6d;
    box-shadow: 0px 21px 23.52px 0.48px rgba(226, 88, 91, 0.29);
    color: #fff;
    font-size: 1rem;
    font-family: "fivo-sans.bold";
    width: 180px;
    height: 60px;
    transition: all 0.3s ease-in; }
  .hero-content button:hover,
  .hero-content button:focus {
    background-color: transparent;
    color: #ff6a6d;
    border: 1px solid #ff6a6d;
    transition: all 0.3s ease-in; }

@media (min-width: 768px) {
  .hero-a-img-lady {
    z-index: 1; }
  .hero-a-img-plantr {
    z-index: 2; } }

@media (min-width: 992px) {
  .hero-a-img-lady {
    z-index: 1; }
  .hero-a-img-plantr {
    z-index: 2; } }

@media (min-width: 1200px) {
  .hero-a-img-lady {
    z-index: 1; }
  .hero-a-img-plantr {
    z-index: 2; }
  .hero-content p {
    color: rgba(28, 32, 86, 0.502); } }

.about1 {
  text-align: center;
  position: relative; }
  .about1 .about1-cloud {
    position: absolute;
    top: 30%;
    left: 0;
    visibility: hidden; }
  .about1 h1 {
    font-family: "fivo-sans.bold";
    font-size: 3rem; }
  .about1 .about1-desc {
    padding-top: 3em;
    font-family: "fivo-sans.light";
    font-size: 1rem;
    color: rgba(28, 32, 86, 0.502);
    line-height: 2em;
    max-width: 800px;
    margin: 0 auto; }

.about1-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 8em; }

.about1-block h3 {
  font-family: "fivo-sans.bold";
  font-size: 1.2rem; }

.about1-block p {
  margin-top: 1.5em; }

@media (min-width: 768px) {
  .about1 {
    text-align: center;
    position: relative; }
    .about1 .about1-cloud {
      visibility: visible; }
  .about1-container {
    flex-direction: row;
    justify-content: space-between; } }

@media (min-width: 992px) {
  .about1 {
    text-align: center;
    position: relative; }
    .about1 .about1-cloud {
      visibility: visible; }
  .about1-container {
    flex-direction: row;
    justify-content: space-between; } }

@media (min-width: 1200px) {
  .about1 {
    text-align: center;
    position: relative; }
    .about1 .about1-cloud {
      visibility: visible; }
  .about1-container {
    flex-direction: row;
    justify-content: space-between; } }
