* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: $fontB;
  font-size: 3rem;
}
p {
  font-family: $fontL;
  font-size: 1rem;
  color: $colorG;
  line-height: 2em;
}
